<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">
        
    <!-- 启用spring mvc 注解 -->
	<!-- <context:annotation-config /> -->
	<mvc:annotation-driven />

    <!-- 设置使用注解的类所在的package(基本包)-->
    <context:component-scan base-package="com.ego.controller"/>
    
    <!-- 静态资源映射 location是本地静态资源路径 mapping是映射的url地址，访问时就使用该地址 -->
	<mvc:resources location="/WEB-INF/static/" mapping="/**" />
    
    <!-- 配置视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    	<!-- 配置前缀 -->
    	<property name="prefix" value="/WEB-INF/pages/"/>
    	<!-- 配置后缀 -->
    	<property name="suffix" value=".jsp"/>
    </bean>
    
    <!-- 文件上传解析器 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
    	<!-- 默认编码试 -->
    	<property name="defaultEncoding" value="UTF-8"/>
    	<!-- 最大文件上传大小 -->
    	<property name="maxUploadSize" value="10485760"/>
    </bean>


	<!--  实现图形验证码  -->
	<bean id="captchaProducer" class="com.google.code.kaptcha.impl.DefaultKaptcha">
		<property name="config">
			<bean class="com.google.code.kaptcha.util.Config">
				<constructor-arg>
					<props>
						<prop key="kaptcha.border">yes</prop><!-- 是否有边框  -->
						<prop key="kaptcha.border.color">105,179,90</prop><!-- 设置边框颜色  -->
						<prop key="kaptcha.textproducer.font.color">green</prop><!-- 验证码文本字符颜色 默认为 Color.BLACK-->
						<prop key="kaptcha.session.key">code</prop><!-- 验证码  -->
						<prop key="kaptcha.textproducer.font.names">宋体,楷体,微软雅黑</prop><!-- 设置字体样式  -->
						<prop key="kaptcha.border.thickness"></prop><!-- 边框粗细度 默认为 1 -->
						<prop key="kaptcha.producer.impl"></prop><!-- 验证码生成器 默认为 DefaultKaptcha -->
						<prop key="kaptcha.textproducer.impl"></prop><!--  验证码文本生成器 默认为 DefaultTextCreator -->
						<prop key="kaptcha.textproducer.char.string"></prop><!-- 验证码文本字符内容范围 默认为abcde2345678gfynmnpwx -->
						<prop key="kaptcha.textproducer.char.length">4</prop><!--  验证码文本字符长度 默认为 5 -->
						<prop key="kaptcha.textproducer.font.size">40</prop><!-- 验证码文本字符大小 默认为 40 -->
						<prop key="kaptcha.textproducer.char.space">6</prop> <!-- 验证码文本字符间距 默认为 2 -->
						<prop key="kaptcha.image.width">200</prop> <!-- 验证码图片宽度 默认为 200 -->
						<prop key="kaptcha.image.height">50</prop> <!-- 验证码图片高度 默认为 40 -->
					</props>
				</constructor-arg>
			</bean>
		</property>
	</bean>


	<!--  配置访问根路径对应资源操作  -->
	<!--  其中 path 表示为请求的路径， view-name 表示为你需要做的资源操作  -->
	<mvc:view-controller path="/" view-name="index" />

	<!--配置拦截器-->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<!--  不拦截的 url( 不需要登录就可以访问的资源 ) -->
			<mvc:exclude-mapping path="/Public/**"/>
			<mvc:exclude-mapping path="/Template/**"/>
			<mvc:exclude-mapping path="/image/**"/>
			<mvc:exclude-mapping path="/login/**"/>
			<mvc:exclude-mapping path="/user/login/**"/>
			<mvc:exclude-mapping path="/user/logout/**"/>
			<ref bean="managerLoginInterceptor"/>

		</mvc:interceptor>

	</mvc:interceptors>

</beans>